<main class="container">
    <header class="row" id="header-w-image" style="display:flex;flex-direction:column">
        <img src="assets/img/burger.png" alt="burger icon" class="img-fluid rounded mt-1">
        <h1>Eat a Burger!</h1>
    </header>
    <section class="row" id="display-area">
        <div class="col-6" id="left">
            <h2>Uneaten Burgers</h2>
            <hr>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                    <li>
                        {{burger_name}}
                        <button class="devour btn-sm btn btn-success" data-id="{{id}}">DEVOUR IT!</button>
                    </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-6" id="right">
            <h2>Eaten Burgers</h2>
            <hr>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                    <li>
                        {{burger_name}}
                    </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </section>
    <section id="form-container" class="row">
        <h4>Enter a burger you would like to eat!</h4>
        <form id="new-burger">
            <label for="burger">Burger Name:</label>
            <input type="text" id="burger" name="name">

            <button type="submit" class="btn btn-md btn-success">Add Burger</button>
        </form>
    </section>
</main>